body {
  font-family: Roboto, Arial, sans-serif;
  background: #F9F9F9;
  color: rgba(0,0,0,0.87);
}

a {
  color: rgb(3,155,229);
}

.modal-open .modal {
	overflow: visible;
}
.modal.in .modal-dialog {
	width: 100%;
}
.modal.fade .modal-dialog {
	width: 100%;
}