body {
  font-family: Roboto, Arial, sans-serif;
  background: #F9F9F9;
  color: rgba(0,0,0,0.87);
}

a {
  color: rgb(3,155,229);
}

.modal-open .modal {
	overflow: visible;
}
.modal.in .modal-dialog {
	width: 100%;
}
.modal.fade .modal-dialog {
	width: 100%;
}

.modal-header {
	padding: 32px;
	border: none;
}

.modal-content {
	box-shadow: 0 5px 20px rgba(0,0,0,0.01), 0 20px 20px rgba(0,0,0,0.05);
	border: 0;
    border-radius: 0px 0px 5px 5px;
}
.modal-title {
	font-size: 2em;
	font-weight: 500;
}
.modal-backdrop.in {
	opacity: 0;
}


.axis path{
	stroke: #333333;
}

.axis .tick line {
	stroke: #333333;
}
.axis text {
   fill: rgb(169, 178, 189);
}
.axis .tick text {
	fill: #333333;
}