@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
	font-family: 'Roboto', 'Open Sans', sans-serif;

	background-color: #f9f9f9;
	color: #232323;
}

.svgWrapper {
	padding: 32px;
}

.labelTitle {
	font-size: 12px;
	color: #232323;
	fill: #232323;
	font-weight: 500;
}
.label {
	font-size: 14px;
	color: #575757;
	fill: #575757;
	font-weight: 300;

	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.label:hover {
	font-size: 14px;
	color: #FE5A5A;
	fill: #FE5A5A;
	font-weight: 700;
}